@font-face {
  font-family: 'JJ Circular Std Book';
  src: url("../public/fonts/JJ-CircularTT-Book.eot");
  src: url("../public/fonts/JJ-CircularTT-Book.woff2") format("woff2");
}

@font-face {
  font-family: "JJ Circular Std Black";
  src: url("../public/fonts/JJ-CircularTT-Black.eot");
  src: url("../public/fonts/JJ-CircularTT-Black.woff") format("woff");
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.border-sep{
  border-top: 2px solid #db2a33;
}
.border-but{
  border-bottom: 2px solid #db2a33;
}
.open-enseal{
  position: relative;
}
.open-enseal::before{
  content: '';
  background-color: #db2a33;
  position: absolute;
  width: 100%;
  height: 1.2px;
  top: 35%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 479px) {
  .text-sm-title{
    font-size: 30px !important;
    line-height: 35px !important;
  }
  .text-sm-title-section{
    font-size: 25px !important;
    line-height: 30px !important;
  }
  .highlight-text-sm{
    font-size: 1.2rem !important;
  }
}
@media (min-width: 992px) {
  .w-280{
    width: 225px;
  }
}
